
.content {
  img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .our_team_container {
    position: relative;
    width: 100%;
    float: left;
    background-color: #f5f5f5;

    .title_container {
      .title {

        position: relative;
        font-size: 3.2rem;
        margin: 0 auto;
        width: 200px;
        line-height: 80px;

        &:after {
          content: "";
          position: absolute;
          width: 100px;
          bottom: 0;
          left: 50px;
          height: 2px;
          background-color: rgb(240, 130, 0);
        }

      }
    }

    .team_list {
      position: relative;
      width: 100%;
      float: left;
      padding: 0 0 40px;

      .team_item {
        position: relative;
        //width: 220px;
        //margin-right: 30px;
        //float: left;
        padding: 0 20px;
        margin-bottom: 20px;

        .item {
          width: 100%;
          float: left;
          border: 1px solid rgba(88, 88, 88, 0.12);

          -webkit-transition: all linear 0.5s;
          -moz-transition: all linear 0.5s;
          -o-transition: all linear 0.5s;
          transition: all linear 0.5s;

          & > div {
            float: left;
            width: 100%;
          }

          .team_leader_img {
            position: relative;
            width: 100%;
            height: 200px;
            background-color: #fff;
            //display: flex;
            //justify-content: center;
            //align-items: center;

            img {
              position: relative;
              width: 120px;
              height: 120px;
              display: block;
              margin: 40px auto;
            }

          }

          .team_leader_info {
            position: relative;
            width: 100%;
            height: 250px;
            background-color: #f5f5f5;
            padding: 10px 15%;

            .team_leader_name {
              position: relative;
              width: 100%;
              text-align: center;
              line-height: 40px;
              color: rgb(240, 130, 0);
              font-size: 16px;
              font-weight: bold;
            }

            .team_leader_post {
              position: relative;
              width: 100%;
              text-align: center;
              font-size: 12px;
              line-height: 20px;
              color: #000000;
            }

            .icon {
              position: relative;
              width: 100%;
              height: 30px;

              &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                top: 14px;
                background-color: rgba(88, 88, 88, 0.12);
              }

              .icon_1 {
                position: absolute;
                top: 5px;
                left: 45%;
                width: 20px;
                height: 20px;
                /*background-color: red;*/
                background-color: #f5f5f5;

                &:before {
                  content: '';
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  top: 5px;
                  left: 6px;
                  background-color: rgba(0, 0, 0, 0.12);
                  -webkit-transform: rotate(135deg);
                  -moz-transform: rotate(135deg);
                  -ms-transform: rotate(135deg);
                  -o-transform: rotate(135deg);
                  transform: rotate(135deg);
                }
              }
            }

            .team_leader_intro {
              position: relative;
              width: 100%;
              font-size: 12px;
              line-height: 20px;
              color: #585858;
            }

          }

          &:hover {
            transform: translate(0, -20px);

            .team_leader_info {
              background-color: rgb(240, 130, 0);

              .team_leader_name, .team_leader_post, .team_leader_intro {
                color: #fff;
              }

              .icon {
                &:before {
                  background-color: #fff;
                }
                .icon_1 {
                  background-color: rgb(240, 130, 0);
                  &::before {
                    background-color: #fff;
                  }
                }
              }

            }

          }

        }

      }

    }
  }

  .emp_style_container {
    float: left;
    width: 100%;
    position: relative;

    .title_container {
      position: absolute;
      width: 100%;
      padding: 40px 0;

      .title {

        position: relative;
        font-size: 3.2rem;
        margin: 0 auto;
        width: 200px;
        line-height: 80px;
        text-align: center;

        &:after {
          content: "";
          position: absolute;
          width: 100px;
          bottom: 0;
          left: 50px;
          height: 2px;
          background-color: rgb(240, 130, 0);
        }

      }
    }

    .emp_style {
      position: relative;
      padding: 20px 0;
      //height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      //background: #f5f5f5 ;
      background: url("../../image/bm_style/bg.png") no-repeat;
      background-size: cover;

      #canvas {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f5f5f5;
      }

      img {
        //display: block;
        //margin: 0 auto;
        width: 80%;
        top: 80px;
        //display: block;
        //margin: 0 auto;
      }

    }

  }

}


