.content .p_name { font-size: 1.8rem; line-height: 40px; width: 240px; text-align: center; border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
.content .cpm_item { width: 240px; text-align: left; font-size: 1.2rem; line-height: 24px; padding: 0 10px; }
.content .block_1 { position: relative; }
.content .block_1 .title_container { padding: 20px 0 0; top: 20px; }
.content .block_1 .title_container .title { font-size: 2.2rem; width: 250px; line-height: 60px; }
.content .block_1 .title_container .title:after { left: 75px; }
.content .block_2 { background-color: #f5f5f5; width: 100%; float: left; }
.content .block_2 img { width: 100%; height: 100%; }
.content .block_2 .title_container .sec_title { line-height: 34px; }
.content .block_2 .contact_us_method_container { position: relative; width: 100%; padding: 20px 6% 30px; float: left; }
.content .block_2 .contact_us_method_container .method_item { position: relative; width: 33%; height: 120px; text-align: center; float: left; }
.content .block_2 .contact_us_method_container .method_item .method_img { position: relative; margin: auto; }
.content .block_2 .contact_us_method_container .method_item .name { position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; font-size: 1.5rem; line-height: 40px; }
.content .block_2 .contact_us_method_container .method_item:nth-child(3n+1) .method_img { width: 42px; height: 37px; top: 14px; }
.content .block_2 .contact_us_method_container .method_item:nth-child(3n+1) .name { line-height: 20px; font-size: 1.1rem; }
.content .block_2 .contact_us_method_container .method_item:nth-child(3n+2) .method_img { width: 40px; height: 40px; top: 9px; }
.content .block_2 .contact_us_method_container .method_item:nth-child(3n+3) .method_img { width: 40px; height: 25px; top: 20px; }
.content .block_3 { width: 100%; float: left; padding: 50px 0; }
.content .block_3 .qrCode_container { display: flex; justify-content: center; align-items: center; width: 100%; }
.content .block_3 .qrCode_container .item { width: 400px; text-align: center; }
.content .block_3 .qrCode_container .item img { width: 100px; height: 100px; margin: 0 auto; display: block; }
.content .block_3 .qrCode_container .item .txt { line-height: 40px; font-size: 1.3rem; }
