@charset "utf-8";

.content {
  .p_name {
    font-size: 1.8rem;
    line-height: 40px;
    width: 240px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .cpm_item {
    width: 240px;
    text-align: left;
    font-size: 1.2rem;
    line-height: 24px;
    padding: 0 10px;
  }

  .block_1 {
    position: relative;

    .map_tl {
      //position: absolute;
      //top: 5px;
      //left: 20%;

      .tl {
        //line-height: 50px;
        //font-size: 2.2rem;
        //color: #666;
      }
      .sec_tl {
        //font-size: 1.3rem;
        //color: #999;
        //line-height: 24px;
      }
    }

    .title_container {
      padding: 20px 0 0;
      top: 20px;

      .title {
        font-size: 2.2rem;
        width: 250px;
        line-height: 60px;

        &:after {
          left: 75px;
        }
      }
    }
  }

  .block_2 {
    background-color: #f5f5f5;
    width: 100%;
    float: left;

    img {
      width: 100%;
      height: 100%;
    }

    .title_container {

      .title {
        //position: relative;
        //font-size: 2.5rem;
        //width: 200px;
        //margin: 0 auto;

        //&:after {
        //  content: "";
        //  position: absolute;
        //  width: 20px;
        //  bottom: 0;
        //  left: 90px;
        //  height: 3px;
        //  background-color: #00a0e9;
        //}
      }
      .sec_title {
        line-height: 34px;
      }
    }

    .contact_us_method_container {
      position: relative;
      width: 100%;
      padding: 20px 6% 30px;
      float: left;

      .method_item {
        position: relative;
        width: 33%;
        height: 120px;
        text-align: center;
        float: left;

        .method_img {
          position: relative;
          margin: auto;
        }

        .name {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
          line-height: 40px;
        }

        &:nth-child(3n+1) {
          .method_img {
            width: 42px;
            height: 37px;
            top: 14px;
          }
          .name {
            line-height: 20px;
            font-size: 1.1rem;
          }
        }

        &:nth-child(3n+2) {
          .method_img {
            width: 40px;
            height: 40px;
            top: 9px;
          }
        }

        &:nth-child(3n+3) {
          .method_img {
            width: 40px;
            height: 25px;
            top: 20px;
          }
        }

      }
    }

  }

  .block_3 {
    width: 100%;
    float: left;
    padding: 50px 0;

    .qrCode_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .item {
        width: 400px;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          margin: 0 auto;
          display: block;
        }
        .txt {
          line-height: 40px;
          font-size: 1.3rem;
        }
      }
    }
  }

}

