@charset "utf-8";

body {
  //padding-top: 110px;
  //padding-bottom: 220px;

  img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content {
    position: relative;
    width: 100%;
    float: left;

    .block {
      position: relative;
      width: 100%;
      float: left;

      .title_container {

        .title {
          width: inherit;
          font-size: 3.8rem;

          &:after {
            display: none;
          }

        }

      }
    }

    .block_1 {
      position: relative;
      width: 100%;

      //轮播图
      .banner_container {
        height: 100%;

        .swiper-wrapper {
          height: 100%;
        }
        .swiper-pagination {
          span {
            float: none;
          }
        }
        .swiper-button-prev {
          left: 60px;
        }
        .swiper-button-next {
          right: 60px;
        }
      }

    }

    .choose_us_reason_container {
      /*height: 406px;*/
      /*background-color: #f5f5f5;*/
      background-color: #fff;
      padding: 0 10%;

      .list {
        position: relative;
        width: 100%;
        float: left;
        padding: 10px 0 40px;

        .item {
          position: relative;
          /*width: 25%;*/
          text-align: center;
          float: left;

          .spn_1 {
            position: relative;
            /*width: 100%;*/
            height: 100px;
            overflow: hidden;
            color: rgb(240, 130, 0);

            .count {
              font-size: 56px;
              line-height: 100px;
            }
            .unit {
              position: relative;
              top: 55px;
            }
          }
          .txt {
            font-size: 12px;
            color: rgb(0, 0, 0);
            width: 100%;
            line-height: 30px;
          }
        }
      }
    }

    .our_service_container {
      position: relative;
      /*width: 1000px;*/
      padding: 0 0 40px;

      .service_name_list {
        position: relative;
        width: 100%;
        float: left;
        margin: 0 0 20px;

        .service_name_item {
          position: relative;
          float: left;
          width: 23%;
          margin-right: 2%;
          text-align: center;
          background-color: whitesmoke;
          line-height: 40px;
          border-radius: 5px;
          cursor: pointer;

          &.active {
            background-color: rgb(240, 130, 0);
            color: #fff;

            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-bottom: 20px solid rgb(240, 130, 0);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
              top: 32px;
              left: 40%;
            }

          }
        }
      }

      .service_container {
        position: relative;
        width: 100%;
        height: 340px;
        float: left;
        padding: 20px 0;
        display: none;

        .line_1 {
          position: relative;
          width: 100%;
          color: rgb(240, 130, 0);
          font-size: 24px;
          /*font-weight: bold;*/
          line-height: 50px;
        }
        .line_2 {
          position: relative;
          width: 100%;
          color: rgb(0, 0, 0);
          font-size: 14px;
          line-height: 30px;
          text-indent: 10px;
        }
        ul {
          position: relative;
          width: 100%;
          padding-left: 30px;
          margin: 30px 0 20px;
          line-height: 30px;
          font-size: 12px;
          color: rgb(102, 102, 102);
        }
        .btn_detail {
          position: relative;
          /*width: 100%;*/
          width: 100px;
          line-height: 30px;
          color: rgb(240, 130, 0);
          cursor: pointer;
          /*text-indent: 20px;*/
          text-align: center;
          border: 1px solid rgb(240, 130, 0);
          border-radius: 4px;
          float: left;
          margin-left: 20px;
        }
        .img {
          position: absolute;
          top: 30px;
          right: 0;
          width: 40%;
        }
        .txtInfo {
          position: relative;
          width: 100%;
          margin: 30px 0;
          line-height: 30px;
          color: rgb(102, 102, 102);
          float: left;
          text-indent: 10px;

          span {
            display: block;
            width: 100%;
          }
        }
      }

    }

    .our_func_container {
      background-color: #f5f5f5;
      padding: 0 10%;

      .func_img_list {
        position: relative;
        width: 100%;
        float: left;
        padding: 20px 0;

        .func_img_item {
          position: relative;
          margin-bottom: 20px;

          .func_info {
            position: relative;
            padding: 20px 0;
          }
          .bg_1 {
            background-color: #65c2f3;
          }
          .bg_2 {
            background-color: #fe9059;
          }
          .bg_3 {
            background-color: #7ccc7a;
          }
          .bg_4 {
            background-color: #9885cc;
          }
          .bg_5 {
            background-color: #f6ce00;
          }
          .bg_6 {
            background-color: #848d99;
          }
          .img {
            position: relative;
            width: 100%;
            min-height: 140px;

            img {
              position: relative;
              display: block;
              margin: 0 auto;
              width: 110px;
              height: 80px;
              top: 30px;
            }
          }

          .bg_2, .bg_3, .bg_4, .bg_6 {
            img {
              width: 80px;
            }
          }

          .txt {
            position: relative;
            width: 100%;
            text-align: center;
            color: #fff;
            margin-top: 10px;

            .txt_1 {
              position: relative;
              width: 100%;
              line-height: 50px;
              font-size: 24px;
            }
            .txt_2 {
              position: relative;
              width: 100%;
              line-height: 20px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .core_competence_container {
      position: relative;
      width: 100%;
      /*padding: 0 10%;*/
      background-image: url("../../image/index/core_competence_bg.png");
      background-size: 100% 100%;

      .core_competence_img_list {
        position: relative;
        /*width: 100%;*/
        width: 1000px;
        float: left;
        padding: 20px 0 40px;

        .core_competence_img_item {
          position: relative;
          /*width: 220px;*/
          /*margin-right: 30px;*/
          /*float: left;*/
          /*background-color: #fff;*/

          .core_competence_content {
            position: relative;
            width: 220px;
            height: 300px;
            padding: 10px 0;
            margin: auto;
            background-color: #fff;

            .core_competence_img {
              position: relative;
              width: 100%;
              height: 130px;
              margin-bottom: 15px;

              img {
                display: block;
                width: 166px;
                margin: 0 auto;
              }
            }
            .txt {
              position: relative;
              width: 100%;
              padding: 10px 20px 20px;

              .txt_1 {
                line-height: 40px;
                font-size: 22px;
                /*font-weight: bold;*/
                text-align: center;
              }
              .txt_2 {
                position: relative;
                text-align: center;
                width: 100%;
                line-height: 20px;
                font-size: 12px;
                color: #999;
              }
            }
          }

        }
      }
    }

    .block_6 {
      .customer_img_list {
        position: relative;
        width: 100%;
        height: 200px;
        margin: 10px 0 40px;

        .left_direction {
          position: absolute;
          top: 45px;
          left: -50px;
          width: 40px;
          height: 70px;
          cursor: pointer;
        }
        .right_direction {
          position: absolute;
          top: 45px;
          right: -50px;
          width: 40px;
          height: 70px;
          cursor: pointer;
        }
        .customer_img_list_container {
          min-height: 175px;
          height: 100%;

          .swiper-slide {
            width: 100%;

            & > div {

              .img_item:first-child {
                margin-bottom: 10px;
              }

            }

          }
        }
      }
    }

    .block_7 {
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative;
      background: #f5f5f5 url("../../image/index/bg_intro.png");
      background-size: 100% 100%;

      div {
        position: relative;

        img {
          width: 50%;
          //float: left;
        }

        .company_intro {
          position: absolute;
          background-color: #fff;
          padding: 40px 50px;
          border-radius: 5px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
          /*margin-left: 30%;*/
          width: 60%;
          /*margin-top: 5%;*/
          font-size: 12px;
          color: #999;
          line-height: 20px;
          top: 20%;
          left: 40%;

          .txt {
            &:first-child {
              margin-bottom: 10px;
            }

            span {
              display: inline-block;
              float: inherit;
              color: #666;
            }

          }
        }
      }
    }
  }

  .operate_container {
    position: fixed;
    width: 45px;
    right: 30px;
    bottom: 300px;
    z-index: 100;

    .opt_item {
      position: relative;
      width: 45px;
      height: 45px;
      margin-bottom: 5px;
      background-color: grey;
      border-radius: 50%;
      padding: 7px;

      &:last-child {
        background-color: #F08200;
      }
      &.active {
        background-color: #F08200;
      }

      img {
        cursor: pointer;
      }
      .txt {
        position: absolute;
        right: 60px;
        top: 5px;
        width: 120px;
        padding: 3px 5px;
        color: #fff;
        border-radius: 3px;
        font-size: 12px;
        line-height: 20px;
        display: none;
      }
      .txt_email_info, .txt_phone_info {
        background-color: rgba(0, 0, 0, 0.8);
        word-wrap: break-word;
      }
      .txt_qrcode_info {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #fff;
        top: -30px;
      }

    }
  }

  //视频
  .media_layer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    //display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    .icon_move {
      position: absolute;
      right: 100px;
      top: 100px;
      cursor: pointer;
    }
  }

}
