@charset "utf-8";

body {
  img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content {

    .block {
      position: relative;
      width: 100%;
      float: left;

      .title_container {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 40px 0;
        float: left;

        .title {
          font-size: 38px;
          font-weight: bold;
          color: rgb(0, 0, 0);
          line-height: 60px;
          width: inherit;

          &:after {
            display: none;
          }

        }
        .sec_title {
          position: relative;
          /*width: 100%;*/
          font-size: 12px;
          line-height: 30px;
          float: left;
          width: auto;

          .txt {
            color: rgb(163, 163, 163);
          }
          .info {
            margin: 0 5px;
            color: rgb(240, 130, 0);
          }
        }
      }

      .post_container {
        position: relative;
        width: 100%;
        margin: 10px 0 40px;
        float: left;
        padding: 20px 40px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;

        .post_name_list {
          position: relative;
          width: 100%;
          float: left;
          margin: 10px 0;

          .post_name_item {
            position: relative;
            width: 18%;
            margin-right: 2%;
            margin-bottom: 10px;
            text-align: center;
            line-height: 40px;
            border: 1px solid #eeeeee;
            border-radius: 5px;
            cursor: pointer;

            &.active {
              color: #fff;
              background-color: rgb(240, 130, 0);
            }
          }
        }

        .post_content_list {
          position: relative;
          width: 100%;
          height: 630px;
          float: left;
          padding: 20px 0;

          .post_content_item {
            position: relative;
            width: 100%;
            font-size: 12px;
            color: rgb(102, 102, 102);
            float: left;
            /*display: none;*/

            .name {
              position: relative;
              width: 100%;
              line-height: 40px;
              height: 40px;
              font-weight: bold;
              font-size: 18px;
              padding-left: 10px;

              &:before {
                content: "";
                position: absolute;
                width: 4px;
                height: 20px;
                top: 10px;
                left: 0;
                background-color: rgb(240, 130, 0);
                border-radius: 5px;
              }
            }
            span {
              display: block;
              width: 100%;
              line-height: 25px;
              text-indent: 20px;
            }
            .txt {
              line-height: 35px;
              text-indent: 12px;
            }
          }
        }

        .none {
          line-height: 400px;
          text-align: center;
          font-size: 3rem;
        }
      }

    }
  }

}
