.content .block_1 { width: 100%; float: left; }
.content .block_1 .title_container { line-height: 60px; }
.content .block_1 .title_container .title { position: relative; width: 1000px; margin: 0 auto; font-weight: bold; padding-left: 15px; }
.content .block_1 .title_container .title:before { content: ""; position: absolute; width: 14px; height: 2px; background-color: #f18a10; border-radius: 3px; bottom: 8px; left: 16px; }
.content .block_1 .news_list { float: left; width: 100%; margin-bottom: 10px; min-height: 300px; }
.content .block_1 .news_list .item:nth-child(2n+1) { background-color: #f5f5f5; }
.content .block_1 .news_list .item .row { line-height: 40px; width: 1000px; margin: 0 auto; font-size: 1.3rem; }
.content .block_1 .news_list .item .row .news_tl { cursor: pointer; }
.content .block_1 .news_list .item .row .news_tl:hover { color: #337ab7; }
.content .block_1 .news_list .item .row .pub_time { text-align: right; }
.content .block_1 .paginate-container { clear: both; text-align: right; margin: 0 auto; width: 1000px; }
.content .none { text-align: center; line-height: 400px; font-size: 3rem; }
.content img { position: relative; width: 100%; height: 100%; }
.content .pagination > li { cursor: pointer; }
